<h1>マイページ</h1>
<%= link_to "パスワード変更", edit_user_registration_path, class: "btn" %>
<%= link_to "トップに戻る", root_path, class: "btn" %>
<% if user_signed_in? %>
<%= render partial: "profile", locals: { user: current_user, posts: @posts } %>
<% else %>
  <p>ログインしていません。</p>
<% end %>