default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: feedbacks_development
  host: <%= ENV.fetch("PGHOST") { "127.0.0.1" } %>
  username: <%= ENV.fetch("PGUSER") { ENV["USER"] } %>
  password: <%= ENV["PGPASSWORD"] %>
  schema_search_path: public
  port: <%= ENV.fetch("PGPORT") { 5432 } %>
  

test:
  <<: *default
  database: <%= ENV.fetch("PGDATABASE") { "feedbacks_test" } %>
  username: <%= ENV.fetch("PGUSER") { "akimotoritsuki" } %>
  password: <%= ENV["PGPASSWORD"] %>
  host: <%= ENV.fetch("PGHOST") { "localhost" } %>


production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
