.thumbnail {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    display: block;
  }

/* LINE風チャットルームのスタイル */

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #79a2d1;
}

.chat-header {
  background: linear-gradient(to right, rgb(107, 180, 198), rgb(90, 170, 184));
  color: black;
  padding: 15px;
  text-align: center;
}

.chat-header h2 {
  margin: 0;
  font-size: 1.2em;
}

.chat-box {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.message-row {
  display: flex;
  margin-bottom: 15px;
}

.message-row.sent {
  justify-content: flex-end;
}

.message-row.received {
  justify-content: flex-start;
}

.message {
  max-width: 70%;
  display: flex;
  align-items: flex-end;
}

.message-body {
  padding: 10px 15px;
  border-radius: 20px;
  color: #333;
  word-wrap: break-word;
}

.sent .message-body {
  background-color: #8de055;
  color: black;
}

.received .message-body {
  background-color: #ffffff;
}

.message-time {
  font-size: 0.75em;
  color: #999;
  margin: 0 5px;
  white-space: nowrap;
}

.message-form-container {
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
}

.message-form {
  display: flex;
  align-items: center;
}

.message-form textarea {
  flex-grow: 1;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  resize: none;
  min-height: 20px; /* 最小の高さを設定 */
  max-height: 100px; /* 最大の高さを設定 */
  overflow-y: auto; /* 内容が増えたらスクロール */
}

.send-button {
  background-color: #4CAF50; /* 送信ボタンの背景色 */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #45a049; /* ホバー時の背景色 */
}

  
  