<!-- 右サイドバー -->
<div style="width: 400px;" class="bg-white rounded-lg shadow-sm border border-gray-200 sticky top-4 max-h-screen overflow-y-auto">
  <%= render 'layouts/recent_comments_section' %>
  <%= render 'layouts/new_comments_section' %>
  <%= render 'layouts/recommended_users_section' %>
</div>