<body>
  <% if notice %>
    <div class="notice"><%= notice %></div>
  <% end %>
  
  <% if alert %>
    <div class="alert"><%= alert %></div>
  <% end %>

  <%= yield %>  <!-- ここで各ページのコンテンツが挿入されます -->
</body>
